In [1]:
import sys
sys.path.append("../") 
import cvhero as cv

## This is another demonstration

In [3]:
import pandas as pd

# This is a major header

In [4]:
series = pd.Series([1, "two", 3.0])

In [5]:
series

0      1
1    two
2    3.0
dtype: object

#### This is a minor header

    with:
       * not one
       * but three
       * bulletpoints

In [7]:
pd.concat([series, series], axis= 1)

     0    1
0    1    1
1  two  two
2  3.0  3.0

Thanks for watching